<!DOCTYPE html>
<html lang="en">
<!--<link href="/static/styles.css" rel="stylesheet" type="text/css   ">-->
<link href="https://fonts.googleapis.com/css?family=Rammetto+One|Lato" rel="stylesheet">
<!-- testing monos -->
<!--<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Source+Code+Pro|Nova+Mono|Overpass+Mono|Rammetto+One|Roboto+Mono|Space+Mono" rel="stylesheet">-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<div id="app"></div>
</body>
</html>
