nav {
    display: flex;
}

nav a {
    background-color: #ace;
    border: 1px solid black;
    color: #000;
    flex: 1 0 auto;
    font-variant: all-small-caps;
    height: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
}

nav a.active {
    background-color: #8d88df;
    color: #fff;
}

#topnav {

}

#topnav a {

}

#subnav div {
    justify-content: flex-end;
}

#subnav div a {
    flex: 0 0 auto;
    padding: 0 15px;
}

#subnav a.active {
    flex: 1 0 auto;
}
